<h3 class="text-center mt-3">Log in</h3>

<div class="col-6 offset-3 mt-4 p-4" style="border: 1px solid #17a2b8; border-radius: 5px">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div class="form-group">
      <label for="username">Username:</label>
      <input class="form-control" id="username" formControlName="username" type="text">
    </div>
    <div class="d-flex justify-content-around">
      <button [disabled]="loginForm.invalid" type="submit" class="btn btn-info flex-grow-1 p-2 m-4"
              (click)="setRole('user')">Log in as User
      </button>
      <button [disabled]="loginForm.invalid" type="submit" class="btn btn-outline-info flex-grow-1 p-2 m-4"
              (click)="setRole('admin')">Log in as Admin
      </button>
    </div>
  </form>
</div>
